<div class="min-h-screen">
  <section>
    <div class="mx-auto px-5 sm:px-1 max-w-xl">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-1 headingPrimary">
          Are you citizen of [CountryName]?
        </h1>
        <!-- <img
          src="/assets/icons/address.png"
          style="height: 30px; width: 30px"
          alt="email icon"
        /> -->
      </div>
      <!-- <p class="text-xs mb-5 text-slate-500">
        By law we need your home address to open your account
      </p> -->
      <div class="flex justify-center items-center mt-20">
        <div class="max-w-[80vw]">
          <img
            src="https://via.placeholder.com/400x400"
            alt=""
            class="rounded-full"
            width="200px"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="absolute bottom-10 left-0 w-full">
    <div class="flex flex-col gap-5 justify-center items-center">
      <button
        mat-stroked-button
        class="btnOutline w-32 h-12 text-lg flex items-center justify-center"
      >
        Confirm
      </button>
    </div>
  </section>
</div>
