<div class="min-h-screen">
  <section>
    <div class="mx-auto px-5 sm:px-1 max-w-xl">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-1 headingPrimary">
          Pick an original document to upload
        </h1>
      </div>
      <p class="text-xs mb-5 text-slate-500">
        We need a valid document to confirm you reside United States and verify
        who you are, Data is processed securely
      </p>
      <mat-radio-group [formControl]="documentControl">
        <mat-radio-button class="flex items-center" value="1">
          <div class="flex items-center">
            <img
              src="/assets/icons/image.png"
              class="h-8 w-8"
              alt="image icon"
            />
            <p class="ml-2 text-xl">Residence Permit</p>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </section>
  <section class="absolute bottom-10 left-0 w-full">
    <div class="flex flex-col gap-5 justify-center items-center">
      <button
        mat-stroked-button
        class="btnOutline w-32 h-12 text-lg flex items-center justify-center"
        (click)="onNextClick()"
        [disabled]="!documentControl.value"
      >
        Next
      </button>
    </div>
  </section>
</div>
