<div class="flex items-center justify-center custom-height overflow-hidden">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-4">Do You Want To Invest?</h1>
    <iframe
      src="https://lottie.host/embed/4208c015-428c-415b-ad67-5b0d7935cdc0/CrdsZWYPXr.json"
      style="border: none; margin: 0; padding: 0; width: 100%; height: 100%"
    ></iframe>
    <button
      class="btnPrimary text-white font-bold py-2 px-4 rounded mt-2"
      (click)="portfolio()"
    >
      Connect
    </button>
  </div>
</div>
