<div class="min-h-screen">
  <section>
    <div class="mx-auto px-5 sm:px-1 max-w-xl">
      <div class="flex justify-between items-center">
        <h1 class="text-3xl mb-1 headingPrimary">Sign in</h1>
        <!-- <img
          src="/assets/icons/address.png"
          style="height: 30px; width: 30px"
          alt="email icon"
        /> -->
      </div>

      <form>
        <div class="mt-5">
          <mat-form-field appearance="outline" class="w-full mb-5">
            <mat-label class="text-primary">Email</mat-label>
            <input
              matInput
              placeholder="Email"
              name="email"
              [formControl]="email"
              required
            />
            @if (email.invalid) {
            <mat-error class="text-sm">{{ getErrorMessage() }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="">
          <mat-form-field appearance="outline" class="w-full mb-5">
            <mat-label class="text-primary">Passcode</mat-label>
            <input
              matInput
              placeholder="********"
              name="passcode"
              ngModel
              [formControl]="passcode"
              required
              type="password"
              maxlength="6"
              pattern="[0-9]*"
            />
            @if (passcode.invalid) {
            <mat-error class="text-sm">{{ getErrorMessage() }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="grid gap-2">
          <a routerLink="/signup/email" class=""
            >Don't have an account? Sign up</a
          >
        </div>
      </form>
    </div>
  </section>
  <section class="absolute bottom-10 left-0 w-full">
    <div class="flex flex-col gap-5 justify-center items-center">
      <button
        mat-stroked-button
        class="btnOutline w-32 h-12 text-lg flex items-center justify-center"
        (click)="signIn()"
      >
        Sign In
      </button>
    </div>
  </section>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#673ab7"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Checking your email with pass code.</p>
</ngx-spinner>
