<main class="mx-2 relative min-h-screen">
  <section class="p-2 pt-5">
    <div
      class="flex flex-col justify-center items-center mb-2 bg-slate-200 rounded-xl p-4"
    >
      <div
        class="flex flex-col justify-center bgGradientReverse rounded-full p-1"
      >
        <img
          src="https://media.licdn.com/dms/image/C4E03AQHv0CAaD28Vxg/profile-displayphoto-shrink_800_800/0/1644862191535?e=1707955200&v=beta&t=6lfksbXkjG2GeDdzb37rntAsPAdPZOVyKL2C5vGISD8"
          alt=""
          class="max-w-[50vw] rounded-full"
        />
      </div>
      <h2 class="font-black text-3xl headingPrimary">Md Ariful Islam Rony</h2>
    </div>
  </section>
  <section class="bg-gradient-glass-low-opacity p-10 rounded-xl">
    <div class="flex flex-col justify-start items-start w-full gap-5">
      <div
        class="flex cursor-pointer justify-start items-center gap-2 bg-glass-low-opacity rounded-xl p-2 w-full"
      >
        <svg
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6"
        >
          <path
            d="m11.25 6c.398 0 .75.352.75.75 0 .414-.336.75-.75.75-1.505 0-7.75 0-7.75 0v12h17v-8.749c0-.414.336-.75.75-.75s.75.336.75.75v9.249c0 .621-.522 1-1 1h-18c-.48 0-1-.379-1-1v-13c0-.481.38-1 1-1zm1.521 9.689 9.012-9.012c.133-.133.217-.329.217-.532 0-.179-.065-.363-.218-.515l-2.423-2.415c-.143-.143-.333-.215-.522-.215s-.378.072-.523.215l-9.027 8.996c-.442 1.371-1.158 3.586-1.264 3.952-.126.433.198.834.572.834.41 0 .696-.099 4.176-1.308zm-2.258-2.392 1.17 1.171c-.704.232-1.274.418-1.729.566zm.968-1.154 7.356-7.331 1.347 1.342-7.346 7.347z"
            fill-rule="nonzero"
          />
        </svg>
        <p>Change Name</p>
      </div>
      <div
        class="flex cursor-pointer justify-start items-center gap-2 bg-glass-low-opacity rounded-xl p-2 w-full"
      >
        <svg
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6"
        >
          <path
            d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 6.5c-.414 0-.75.336-.75.75v5.5c0 .414.336.75.75.75s.75-.336.75-.75v-5.5c0-.414-.336-.75-.75-.75zm-.002-3c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z"
            fill-rule="nonzero"
          />
        </svg>
        <p>Information Update</p>
      </div>
      <div
        class="flex cursor-pointer justify-start items-center gap-2 bg-glass-low-opacity rounded-xl p-2 w-full"
      >
        <svg
          clip-rule="evenodd"
          fill-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="w-6"
        >
          <path
            d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 6.5c-.414 0-.75.336-.75.75v5.5c0 .414.336.75.75.75s.75-.336.75-.75v-5.5c0-.414-.336-.75-.75-.75zm-.002-3c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z"
            fill-rule="nonzero"
          />
        </svg>
        <p>Information Update</p>
      </div>
    </div>
  </section>

  <div class="absolute bottom-10 w-full">
    <div class="flex justify-center items-center w-full">
      <button class="btnPrimary w-[50vw] p-4 cursor-pointer text-xl">
        Logout
      </button>
    </div>
  </div>
</main>
